les mer og brief
overordnet
avsnitt om hvor lite brief data på unge voksne og hva som er
lese baarhs og howlett
hot and cool 
er det nyttig i studenter
hva hadde vært bedre
brief er nyttig i studenter, grunet studie i første avsnitt.
Nyansert om fordeler og ulemper om brief
avsnitt om studenter og brief

Se Eg and See in citations

BRIEF 



.Rproj.user
