# Ignore data folder
fl_project/data/
fl_project/images/

# Ignore specific files in fl_project folder
fl_project/.gitattributes
fl_project/.gitignore
fl_project/.RData
fl_project/.Rhistory
fl_project/fl_project.Rproj